# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de dependencias y builds
node_modules/
dist/
build/

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar archivos temporales
*.log
*.tmp
